<header>
  <nav>
    <ul class="navbar">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/posts">Posts</a>
      </li>
      <li>
        <a href="/posts-upload">Posts Upload</a>
      </li>
    </ul>
  </nav>
</header>