body {
  font-family: 'Lucida Sans', Verdana, sans-serif;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 20px;
}

.navbar {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.navbar li {
  font-size: 18px;
  list-style: none;
  padding: 16px;
}

h1 {
  text-align: center;
}

.post {
  margin-bottom: 40px;
}

.upload-message {
  margin-bottom: 20px;
  text-align: center;
}

form div {
  margin-bottom: 12px;
}

footer {
  text-align: center;
  margin-top: 60px;
}
